* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto';

    display: grid;
    grid-template-areas:
    "aside main"
    "footer footer";

    grid-template-columns: 1fr 1.8fr;
}

header {
    position: absolute;
    width: 100%;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;

    background-color: #9C9696;
}

footer {
    grid-area: footer;
}


/* HEADER NAV */


.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
}

.menu-options {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.menu-options a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: #000;
}

.pesquisar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: .8rem;
    gap: 1rem;
}

.pesquisar input {
    width: 9rem;
    border: none;
    outline: none;
}

.menu-toggle {
    display: none;
    color :white;
    background-color: black;
    border: .1rem solid black;
    border-radius: .35rem;
    height: 2.5rem;
    padding: .65rem 1.25rem;
}


/* ASIDE PREÇO */


.left {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
}

.preco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding: 5rem 1rem 0;
}

.preco h1 {
    font-size: 3.75rem;
    font-weight: 700;
}

.preco p {
    font-size: 1.12rem;
    padding-top: 1rem;
    color: #9C9696;
}

.preco h2 {
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.preco a {
    text-decoration: none;
    background-color: #FF0000;
    border: none;
    color: white;
    padding: 2rem 0rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MAIN IMAGENS */


main img {
    max-width: 100%;
}

.images, .grande {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images, .pequenas {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    gap: .8rem;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #C4C4C4;
}


.grande {
    display: flex;
    justify-content: center;
}

.pequenas {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.allimages {
    padding-top: 7rem;
}


/* FOOTER REDESOCIAL */


.redesocial {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.redesocial iframe {
    height: 100%;
    display: block;
}

.redesocial a {
    text-decoration: none;
    font-size: 1.12rem;
    font-weight: 700;
    color: #000;
}

.explore {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
    flex-basis: 15rem;  
}

.explore i {
    color: white;
}

.explore a {
    color: white;
}

footer .fa-brands {
    display: none;
    font-size: 2rem;
}




@media only screen and (max-width: 1050px)  {
    .menu-options {
        gap: 2.5rem;
    }

    .redesocial iframe {
        display: none;
    }
}

@media only screen and (max-width: 878px)  {
    .pesquisar {
        display: none;
    }

    .redesocial iframe {
        display: none;
    }
}

@media only screen and (max-width: 699px)  {
    .menu-options {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .redesocial i {
        display: block;
    }

    .redesocial a {
        display: none;
    }

    body {
        display: block;
    }

    .preco {
        padding: 7rem 0 2rem;
        
    }

    .redesocial {
        display: flex;
        justify-content: space-evenly;
        padding: 2rem 0 2rem;
    }

    .explore {
        padding: 2rem 0;
    }
}


