* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* width: 100%; */
  height: 100vh;
  font-family: "Roboto";

  display: grid;
  grid-template-areas:
    "aside main"
    "footer footer";

  grid-template-columns: 1fr 1.8fr;
  grid-template-rows: 5fr 0.5fr;
}

header {
  position: absolute;
  width: 100%;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* HEADER NAV */

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
}

.menu-options {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.menu-options a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: #000;
}

.menu a:hover {
  margin-left: -0.4rem;
  border-left: 0.4rem solid #ff0000;
  transition: 0.4s;
}

.fa-magnifying-glass {
  position: absolute;
  padding: .8rem;
}

.pesquisar input {
  width: 10rem;
  border: none;
  outline: none;
  background-color: white;
  padding: 0.8rem;
  padding-left: 2.5rem;
}

.pesquisar a {
  text-decoration: none;
  color: black;
}

.menu-toggle {
  display: none;
  color: white;
  background-color: black;
  border: 0.1rem solid black;
  border-radius: 0.35rem;
  height: 2.5rem;
  padding: 0.65rem 1.25rem;
}

/* ASIDE PREÇO */

.left {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

.preco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 5rem 1rem 0;
}

.preco h1 {
  font-size: 3.75rem;
  font-weight: 700;
}

.preco p {
  font-size: 1.12rem;
  padding-top: 1rem;
  color: #9c9696;
}

.preco h2 {
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.preco a {
  text-decoration: none;
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 2rem 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;

  width: 14rem;
  height: 3rem;
}

/* MAIN IMAGENS */

main img {
  max-width: 100%;
}

.images,
.grande {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images,
.pequenas {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.images {
  background-color: #c4c4c4;
}

.grande {
  display: flex;
  justify-content: center;
}

.pequenas {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.allimages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pequenas a:hover {
  margin-bottom: -0.5rem;
  border-bottom: 0.5rem solid #ff0000;
  transition: 0.4s;
}

/* FOOTER REDESOCIAL */

.redesocial {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.redesocial iframe {
  height: 100%;
  display: block;
}

.redesocial a {
  text-decoration: none;
  font-size: 1.12rem;
  font-weight: 700;
  color: #000;
}

.redesocial a:hover {
  border-left: 0.4rem solid #ff0000;
  padding-left: 0.3rem;
  transition: 0.3s;
}

.explore {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
  flex-basis: 18rem;
}

.explore i {
  color: white;
}

.explore a {
  color: white;
}

footer .fa-brands {
  display: none;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1050px) {
  .menu-options {
    gap: 2.5rem;
  }

  .redesocial iframe {
    display: none;
  }
}

@media only screen and (max-width: 878px) {
  .pesquisar {
    display: none;
  }

  .redesocial iframe {
    display: none;
  }
}

@media only screen and (max-width: 699px) {
  .menu-options {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .redesocial i {
    display: block;
  }

  .text {
    display: none;
  }

  body {
    display: block;
  }

  .preco {
    padding: 7rem 0 2rem;
  }

  .redesocial {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0 2rem;
  }

  .explore {
    padding: 2rem 0;
  }
}
